extend layout
block content
  p
    | Welcome to home page
    | How do you feel about getting home?

block sidebar
  .widget
    h1 Widget
    p
      | Awesome....
      | eleifend nibh porttitor. Ut in nulla enim.
    p
      | Vivamus hendrerit arcu sed erat molestie
      | vehicula.