<nav class="navbar navbar-inverse navbar-fixed-top">

    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Page 1</a></li>
          <li><a href="#">Page 2</a></li> 
          <li><a href="#">Page 3</a></li> 
        </ul>
        <div id="employee-dropdown"></div>
      </div>
    </div>
</nav>

<div class="container">
  <div class="row" id="content" style="margin-top:68px;"></div>
  <div class="employee-list"></div>
  <footer>
      <p>&copy; Adarsh Kumar 2016. <a href="http://twitter.com/adarshdch">Follow me</a> on Twitter.</p>
  </footer>
</div>


